/* Root: biến toàn cục */
:root {
    --color1: rgb(241, 115, 11);
}

li {
    color: var(--color1);
}

/* li1 {
    color: var(--color1);
} */

 h1 {
    /* incolor sẽ chỉ là 1 biến cục bộ */
    --inColor: black;
    color: var(--inColor);
 }